<p>Are you sure you want to delete this Attribute?</p>
<div class="align-center">
  <button md-raised-button color="warn" md-dialog-close="false">NO</button>
  <button md-raised-button color="primary" md-dialog-close="true">YES</button>
</div>
