<md-accordion>
  <!-- ATTRIBUTES LIST FORM -->
  <md-expansion-panel [expanded]="false" *ngFor="let attribute of dbAttributes | async" (click)="selectAttribute(attribute)">
  <md-expansion-panel-header>{{attribute.name}}</md-expansion-panel-header>
    <app-form-detail *ngIf="selectedAttr"
                     [attr]="selectedAttr"
                     [savedStatus]="invalidSaveButton.save"></app-form-detail>
  </md-expansion-panel>
  <md-expansion-panel [expanded]="false" (click)="selectAttribute(attribute)">
    <!-- NEW ATTRIBUTE FORM -->
    <md-expansion-panel-header><b>New Attribute - {{nameTab}}</b></md-expansion-panel-header>
    <app-form-detail *ngIf="selectedAttr"
                     [attr]="selectedAttr"
                     [savedStatus]="invalidSaveButton.save"
                     (validSaveForm)="getValidSaveForm($event)"></app-form-detail>
  </md-expansion-panel>
  <div class="align-card-right">
    <button md-raised-button color="primary"
            [disabled]="invalidSaveButton.invalid"
            (click)="submitFormAttr()">SAVE {{validSaveButton}}</button>
  </div>
</md-accordion>
