.align-card-right {
  text-align: right;
  margin: 10px;
}

.input-witdh {
  width: 350px;
}

.enum-values {
  color: gray;
  padding: 5px;
}

.text-loading {
  color: gray;
  text-align: center;
}

.gray {
  color: gray;
}
