<form novalidate [formGroup]="attributesForm">
   <md-input-container>
      <input mdInput #name type="text" formControlName="name" maxlength="256" placeholder="Enter a name*"autocomplete="off" class="input-witdh">
      <md-error *ngIf="attributesForm.controls['name'].hasError('required')">This field is required</md-error>
      <md-error *ngIf="attributesForm.controls['name'].hasError('validEmtpy')">Attribute name must be unique</md-error>
   </md-input-container>
   <md-input-container>
      <input mdInput #description type="text" formControlName="description" maxlength="256" placeholder="Enter a description for your new attribute" autocomplete="off" class="input-witdh">
   </md-input-container>
   <br>
   <md-select placeholder="Device Resource Type" class="input-witdh" [disabled]="true">
      <md-option *ngFor="let device of deviceResourceTypeList" [value]="device.value">
      {{ device.viewValue }}
      </md-option>
   </md-select>
   <md-input-container>
      <input mdInput #defaultValue type="text" formControlName="defaultValue" maxlength="256" placeholder="Enter a default value" autocomplete="off" class="input-witdh">
   </md-input-container>
   <br>
   <br>
   <md-select formControlName="dataType" placeholder="Data Type" class="input-witdh">
      <md-option *ngFor="let item of dataType" [value]="item.value">
      {{ item.viewValue }}
      </md-option>
   </md-select>
   <md-select formControlName="format" placeholder="Format" class="input-witdh">
      <md-option *ngFor="let format of formatList" [value]="format.value">
      {{ format.viewValue }}
      </md-option>
   </md-select>
   <br>
   <br>
   <div *ngIf="attributesForm.controls['format'].value === 0">
      <md-input-container>
         <input mdInput #enumerations type="text" formControlName="enumerations" maxlength="256" placeholder="Enter value" autocomplete="off" class="input-witdh">
         <button md-raised-button color="primary" (click)="addValuesToEnum()" [disabled]="attributesForm.controls['format'].value !== 0">ADD</button>
      </md-input-container>
      <md-chip-list *ngIf="arrayValuesList.length > 0">
         <span class="enum-values">Values:</span>
         <md-chip *ngFor="let value of arrayValuesList" color="primary" selected="true">
            {{value}}
         </md-chip>
      </md-chip-list>
   </div>
   <div *ngIf="attributesForm.controls['format'].value === 1">
      <label class="gray">Range</label>
      <br>
      <md-input-container>
         <input mdInput #rangeMin type="number" formControlName="rangeMin" placeholder="Range Min" autocomplete="off" class="input-witdh">
         <md-error *ngIf="!attributesForm.controls['rangeMin'].hasError('range')">The range value is between 5 and 10</md-error>
      </md-input-container>
      <md-input-container>
         <input mdInput #rangeMax type="number" formControlName="rangeMax" placeholder="Range Max" autocomplete="off" class="input-witdh">
         <md-error *ngIf="!attributesForm.controls['rangeMin'].hasError('range')">The range value is between 5 and 10</md-error>
      </md-input-container>
      <br>
      <br>
      <md-input-container>
         <input mdInput #uom type="text" formControlName="uom" placeholder="Unit of Measurement (eg. mm)" autocomplete="off" class="input-witdh">
      </md-input-container>
      <md-input-container>
         <input mdInput #precision type="number" formControlName="precision" placeholder="Precision (eg. 0.5)" autocomplete="off" class="input-witdh">
      </md-input-container>
      <md-input-container>
         <input mdInput #accuracy type="number" formControlName="accuracy" placeholder="Accuracy (eg. 0.5)" autocomplete="off" class="input-witdh">
      </md-input-container>
   </div>
   <div class="align-card-right">
      <button md-raised-button color="warn" (click)="deleteAttribute()" *ngIf="this.attr.id">DELETE</button>
   </div>
</form>
